html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
}
body{
    background-image: url(/assets/images/login_bg.jpg);
    background-size: cover;
}

/* logo */
.header {
    /* 用margin时会出现塌陷问题 */
    padding: 30px;
}

/* 登录注册盒子 */
.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.head-box {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

/* 登录注册 */
.loginAndRegBox a {
    font-size: 12px;
    float: right;
}
.login-box {
    margin-top: 20px;
}
.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.layui-form-item {
    position: relative;
}
/* 定位字体图标 */
.layui-icon {
    position: absolute;
    top: 6px;
    left: 10px;
}
.layui-input {
    padding-left: 33px;
}